body  {
    background: url("https://mfiles.alphacoders.com/800/800636.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: brightness(50%);
}