{% extends "base.html" %}
{% block title %}Football Team{% endblock %}

{% block content %}
<h1 class="foot">History of the Peruvian Jersey</h1>
<img class="football" src="{{ url_for('static', filename='Jersey1.png')}}" alt="Picture of peruvian jersey">

<img class="football" src="{{ url_for('static', filename='Jersey2.png')}}" alt="Picture of peruvian jersey">

<img class="football" src="{{ url_for('static', filename='Jersey3.png')}}" alt="Picture of peruvian jersey">

<img class="football" src="{{ url_for('static', filename='Jersey4.png')}}" alt="Picture of peruvian jersey">

<img class="football" src="{{ url_for('static', filename='Jersey5.png')}}" alt="Picture of peruvian jersey">

<img class="football" src="{{ url_for('static', filename='Jersey6.png')}}" alt="Picture of peruvian jersey">

<img class="football" src="{{ url_for('static', filename='Jersey7.png')}}" alt="Picture of peruvian jersey">

<img class="football" src="{{ url_for('static', filename='Jersey8.png')}}" alt="Picture of peruvian jersey">

<img class="football" src="{{ url_for('static', filename='Jersey9.png')}}" alt="Picture of peruvian jersey">

<h1 class="foot">National Peruvian Team</h1>

<img class="team" src="{{ url_for('static', filename='team.png')}}" alt="Picture of peruvian jersey">

<h1 class="foot">Players</h1>

<img class="player" src="{{ url_for('static', filename='Player1.png')}}" alt=" picture a peruvian soccer player">

<img class="player" src="{{ url_for('static', filename='Player2.png')}}" alt=" picture a peruvian soccer player">

<img class="player" src="{{ url_for('static', filename='Player3.png')}}" alt=" picture a peruvian soccer player">

<img class="player" src="{{ url_for('static', filename='Player4.png')}}" alt=" picture a peruvian soccer player">

<img class="player" src="{{ url_for('static', filename='Player5.png')}}" alt=" picture a peruvian soccer player">

<img class="player" src="{{ url_for('static', filename='Player6.png')}}" alt=" picture a peruvian soccer player">

<img class="player" src="{{ url_for('static', filename='Player7.png')}}" alt=" picture a peruvian soccer player">

<img class="player" src="{{ url_for('static', filename='Player8.png')}}" alt=" picture a peruvian soccer player">

<img class="player" src="{{ url_for('static', filename='Player9.png')}}" alt=" picture a peruvian soccer player">

<img class="player" src="{{ url_for('static', filename='Player10.png')}}" alt=" picture a peruvian soccer player">

<img class="player" src="{{ url_for('static', filename='Player11.png')}}" alt=" picture a peruvian soccer player">

<img class="player" src="{{ url_for('static', filename='Player12.png')}}" alt=" picture a peruvian soccer player">





{% endblock %}